   h1 {
       font-family: cursive;
       text-align: center;
    overflow: auto;
   /* border-style: dotted; */
   font-size: 100px;
   color: rgba(24, 1, 5, 0.616);
   align-items: center;
    /* since all the elements are floating,
       setting overflow will allow the rest of
       the layout to flow properly */
  }

  .header-menu {
    float: right;
    list-style-type: none;
  }
  
  .header-menu > li {
    float: left;
    padding-right: 10px; /* whitespace */
  }

  body{
      background-color: rgb(70, 112, 112);
  }
  .container {
    overflow: visible; /* don't forget to adjust the overflow */
    clear: both;
  }
  
  /* .sidebar {
    float: right;
    padding: 10px;
  } */

  h2{
      padding: 110px;
      font-size: 100px;
      color: darkred;
      overflow: scroll;
      font-family: cursive;
  }

  footer {
    font-size: 50px;
    text-align: center;
    clear: all;
  } 

  .section {
    position: relative;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 35px;
  }
  .menu {
      font-size: xx-large;
    padding-left: 20px;
    position: sticky;
    top: 20px;
    left: 0;
  }
  .article {
    margin-left: 100px;
  }
  
  img{
      position: absolute;
      left: 900px;
      top: 85px;

  }

